.root {
  background: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-container {
  height: 95vh;
}

.user-control {
  height: "80vh";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background: rgba(0, 177, 156, 0.8);

  border-radius: 15px;
  width: 60%;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 177, 156, 0.8);
  background: -webkit-linear-gradient(
    to right,
    #a0d9d9,
    rgba(0, 177, 156, 0.8)
  );
  background: linear-gradient(to right, #a0d9d9, rgba(0, 177, 156, 0.8));
  border-radius: 15px;
  width: 55%;
  padding: 1rem;
}

.country {
  font-size: 14px;
  background-color: #fed136;
  border-radius: 30%;
  padding: 0.1rem 0.3rem;
}

.weather-description {
  font-style: italic;
}
